@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  background: transparent !important;
}

body {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
}

@layer components {
  button, a {
    @apply cursor-pointer;
  }
}
